<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tod Form</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'style.css'  )}}"
	</head>
	<body>
            <form>
                <div>
                    <label for = "todo">
                        nwe todo:
                    </label>
                    <input type="text" id="todo" name=" todo" > 
                </div>
                <div>
                    <label for="status">
                        status:
                    </label>
                    <select name="status" id="status">
                        <option value="Compleate">
                            Complete
                        </option>
                        <option value="In_progres">
                            In progres:
                        </option>
                        <option value="Cancell">
                            Cancell:
                        </option>
                    </select>
                </div>
            </form>

	</body>
</html>